extends ../layout

block content
  .section(style="margin: 50px 0")
    .container
      h2 Materias
      p(style="margin-top: 25px") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  .section(style="margin: 50px 0")
    .container
      .row
        .grid

          for block in data

            .col-sm-6.col-md-4
              .bloque
                .bloque_top(style="background-color: " + block.color)
                  .bloque_top_materia
                    a(href="#0") #{block.subject}
                .bloque_content
                  h3.bloque_content_title
                    a(href="#0") #{block.title}
                  p.bloque_content_desc
                    | #{block.description}
                .bloque_bottom.clearfix
                  span.bloque_number-of-videos
                    | #{block.videoNumber}
                  span.bloque_total-duration
                    | #{block.totalTime}


  //- ul
  //-   for book in books
  //-     li= book.name

//- titulo
//- descripcion
//- color
//- numero de videos
//- duracion total de videos
//- materia
