extends ../layout

block content
  .section(style="margin: 50px 0")
    .container
      if !materia
        h2 Materias
        p Aqui puedes ver todos los bloques de las materias que tenemos disponibles! Tambien puedes filtrar a solo los bloques de una materia en especifico.
        li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            p FILTRAR
          ul.dropdown-menu
            li
              a(href='/videos/matematica') Matematica
            li
              a(href='/videos/fisica') Fisica
            li
              a(href='/videos/quimica') Quimica
      else
        h2 #{materia}
        p
          a(href="javascript:history.back()")
            i.fa.fa-long-arrow-left
            | Materias

  .section(style="margin: 50px 0")
    .container
      .row
        .grid

          for block in subjectdata

            .col-sm-6.col-md-4
              .bloque
                .bloque_top(style="background-color:#" + block.color)
                  .bloque_top_materia
                    a(href="/videos/"+ block.subject) #{block.subject}
                .bloque_content
                  h3.bloque_content_title
                    a(href="/bloque?name="+ block.title + "&c=" + block.color) #{block.title}
                  p.bloque_content_desc
                    | #{block.description}
                .bloque_bottom.clearfix
                  span.bloque_number-of-videos
                    | #{block.videoNumber}
                  span.bloque_total-duration
                    | #{block.totalTime}
